html, body {
    margin: 0 auto;
    height:100%;
    background-color: #efefef;
    font-family: sans-serif;
    overflow:hidden;
    padding:0px;
}
.wrapper {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin: 0 auto;
    background-color: #ddd;
}
.nick {
    color: blue;
}
.banner {
    height: 10%;
    width: 100%;
}
.banner p {
    float: left;
    display: inline-block;
}
.controls {
    height: 15%;
    width: 100%;
    margin: 5px 0px;
    position: relative;
}
#historyMsg {
    height: 75%;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}
.timespan {
    color: #000;
}
.items {
    height: 30px;
}

/*custom the file input*/

.imageLable {
    position: relative;
}
#sendImage {
    position: absolute;
    width: 52px;
    left: 0;
    opacity: 0;
    overflow: hidden;
}


#sendArea {
    width: 100%;
    height: 66%;
}

#messageInput {
    width: 80%;
    height: 100%;
    float:left;
}
#sendBtn {
    width: 15%;
    height: 100%;
    float: left;
}
#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 105px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}
.emoji{
    display: inline;
}
footer {
    text-align: center;
}
