body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f1f1;
    max-width: 800px;
    max-height: 700px;
    overflow-x: hidden;
    margin: 10px auto;
    display: block;
}
input {
    width: 50px;
    height: 24px;
}

.wrapper {
    width: 800px;
    height: 700px;
    padding: 2px;
    background: #ddd;
}

.banner {
    width: 800px;
    height: 50px;
    margin-top: 10px;
    text-align: center;
}
#nick {
    font-size: 26px;
    font-weight: bold;
    color: mediumaquamarine;
}

#historyMsg {
    width: 796px;
    height: 566px;
    background-color: #fff;
    overflow: auto;
    padding: 2px;
}
#historyMsg img {
    max-width: 99%;
}

.timespan {
    color: #000;
}


.controls {
    width: 796px;
    height: 80px;
    margin-top: 6px;
}


.items {
    width: 796px;
    height: 28px;
    margin:2px auto;
}


#emojiWrapper {
    display: none;
    width: 500px;
    bottom: 150px;
    position: absolute;
    background-color: #aaa;
    box-shadow: 0 0 10px #555;
}
#emojiWrapper img {
    margin: 2px;
    padding: 2px;
    width: 25px;
    height: 25px;
}
#emojiWrapper img:hover {
    background-color: blue;
}

#imageLable {
    position: relative;
    display: inline-block;
}
#sendImage {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}


.sendArea {
    width: 796px;
    height: 40px;
}



#messageInput {
    width: 716px;
    height: 26px;
    font-size: 22px;
    float: left;
    margin-right: 10px;
}

#sendBtn {
    width: 60px;
    height: 30px;
}

footer{
    color: white;
    text-align: center;
}